footer {
    width: 100%;
    background-color: #293F50;
    padding: 20px 0px;;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section .logo {
    /* flex: 1 0 auto; */
    flex: 1;
}

section .footer-menu {
    flex: 2;
}

section .logo {
    width: 100%;
    text-align: left;
    color: #496c75;
}

.footer-menu ul {
    width: 100%;
    text-align: right;
}

.footer-menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}

.footer-menu li a {
    text-decoration: none;
    color: #fff;
}

.footer-menu li a:hover {
    color: #496c75;
}

@media screen and (max-width: 1000px) {
    footer section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section > * {
        flex: 1;
    }

    section > .logo {
        order: 2;
        text-align: center;
    }

    section > .footer-menu {
        order: 1;
    }

    .footer-menu ul {
        width: 100%;
        padding: 0;
    }

    .footer-menu ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
}