header {
    width: 100%;
    background-color: var(--main-bg-color);
    padding-bottom: 60px;
}

nav {
    width: 100%;
    flex: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 130px;
}
nav .logo-container {
    border-top: 5px solid var(--main-trim-color);;
    height: 100%;
}

nav .logo-container h1 {
    text-transform: uppercase;
    /* word-spacing: 2px; */
    font-weight: 100;
    font-size: 2.6em;
}

nav .logo-container a {
    text-decoration: none;
    color: #fff;
}

nav .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

nav .menu-container > * {
    text-align: right;
}

nav .menu-container p {
    font-size: 1.3em;
    color: var(--main-trim-color);;
}

nav .menu-container li {
    display: inline-block;
    margin: 0px 10px;
}

nav .menu-container a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
}

nav .menu-container a:hover {
    color: var(--main-trim-color);;
}

.about-conference-container {
    width: 100%;
    background-color: var(--main-bg-color);;
    padding: 10px 0 50px;
}

.about-conference-container .content {
    width: 90%;
    text-align: center;
    margin: 0px auto;
}

.about-conference-container .content h2 {
    font-size: 2.5em;
    margin: 10px 0px 5px;
    font-weight: 300;
    color: #496c75;
}

.about-conference-container .content p {
    color: #fff;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 14px;
}


.about-conference-container .content button {
    border: 1px solid #fff;
    padding: 25px 30px;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: #fff;
    margin-top: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.about-conference-container .content button:hover {
    border: none;
    border: 1px solid #fff;
    background: #fff;
    color: var(--main-trim-color);;
}

.container {

}